<h1>&#9658; Playbooks</h1>
<ul class="playbooks">
<% @albums.each do |album| %>
  <li>
    <%= link_to "#{album.title}", album_path(album) %>
    <% if @current_user == @album_user %>
<!--       < form_for album, method: delete do |f| >
        < f.submit "delete this PlayBook?" >
      < end > -->
    <% end %>
  </li>
<% end %>
</ul>

<%= image_tag(@img_select) %>
<!-- <video src="assets/videos/killparis.mp4" autoplay="true" id="index-vid"></video> -->
