<h1> Add A Page</h1>

<form class="add-page">
  <fieldset>
    <legend> New Character </legend>
    <label>
      Title
      <input type="text" name="title" />
    </label>
    <label>
      Story
      <textarea type="text" cols="40" rows="5" name="story"/>
    </label>
    <label>
      Youtube url: youtu.be/
      <input type="text" name="video_url" />
    </label>
    <label>
      Audio url: youtu.be/
      <input type= "text" name="audio_url" />
    </label>
    <button>Save</button>
  </fieldset>
</form>
