body{
  // background-image: url("http://i.imgur.com/FTIo0K0.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: futura, helvetica, sans-serif;

  .navbar {
    background-color: rgba(254,254,254,.5);
    padding: 10px;

    a{
      color: rgba(200,100,155,1);
      text-decoration: none;
    }

    ul li{
      display: inline-block;
      text-decoration: none;
    }

    li:last-child{
      a{
        color: #ED8F0C;
      }
      float: right;
      margin-top: -20px;
    }
  }

  .title{
    font-weight: bolder;
    font-size: 40px;
  }

  .main {
    background-color: rgba(244,244,244,.4);
  }

}
